#main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

#verse-container {
  background-color: white;
  padding: 30px;
  border-radius: .25rem;
}

@media (max-width: 500px) {
  #verse-container {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 320px) {
  #verse-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

#flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  flex-flow: row-reverse;
}



